@model EDNIFF.ViewModel.MacinfoVM





@{
    ViewData["Title"] = "Index";
}

<h1>Devices</h1>

<div class="row jumbotron">

    <table class="table table-bordered" style="background-color:white;">
        <thead>
            <tr>
                <th colspan="9" style="background-color:maroon;color:white;">
                    Disk Drives
                </th>
            </tr>
            <tr>
                <th style="width:11%">Type</th>
                <th style="width:11%">Size</th>
                <th style="width:11%">Model</th>
                <th style="width:11%">Smart</th>
                <th style="width:11%">Erase</th>
                <th style="width:11%">Image</th>
                <th style="width:11%">Progress</th>
                <th style="width:11%">Status</th>
                <th style="width:12%">View</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Type</td>
                <td>Size</td>
                <td>Model</td>
                <td>Smart</td>
                <td>Erase</td>
                <td>Image</td>
                <td>Progress</td>
                <td>Status</td>
                <td><button type="button" class="btn btn-info">Smart Info</button></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered" style="background-color:white;">
        <thead>
            <tr>
                <th colspan="11" style="background-color:maroon;color:white;">
                    System Devices   <button type="button" class="btn btn-info" style="float:right;">Smart Info</button>
                </th>
            </tr>
            <tr>
                <th style="width:9%">Category</th>
                <th style="width:9%">Device</th>
                <th style="width:9%">Manufacturer</th>
                <th style="width:9%">Model</th>
                <th style="width:9%">Serial</th>
                <th style="width:9%">Size</th>
                <th style="width:9%">Speed</th>
                <th style="width:9%">Info1</th>
                <th style="width:9%">Info2</th>
                <th style="width:9%">Erased</th>
                <th style="width:10%">Tested</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Memory != null)
            {
                @if (Model.Memory.Bank0 != null)
                {
                    <tr>
                        <td>RAM</td>
                        <td>RAM</td>
                        <td>@Model.Memory.Bank0.Manufacturer</td>
                        <td>@Model.Memory.Bank0.Type</td>
                        <td>@Model.Memory.Bank0.SerialNumber</td>
                        <td>@Model.Memory.Bank0.Size</td>
                        <td>@Model.Memory.Bank0.Speed</td>
                        <td>@Model.Memory.Bank0.PartNumber</td>
                        <td>@Model.Memory.Bank0.SerialNumber</td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                @if (Model.Memory.Bank1 != null)
                {
                    <tr>
                        <td>RAM</td>
                        <td>RAM</td>
                        <td>@Model.Memory.Bank1.Manufacturer</td>
                        <td>@Model.Memory.Bank1.Type</td>
                        <td>@Model.Memory.Bank1.SerialNumber</td>
                        <td>@Model.Memory.Bank1.Size</td>
                        <td>@Model.Memory.Bank1.Speed</td>
                        <td>@Model.Memory.Bank1.PartNumber</td>
                        <td>@Model.Memory.Bank1.SerialNumber</td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            }

        </tbody>
    </table>


    @*<div class="col-sm-4 form-group">
            <label for="Duration">Duration</label>
            <input type="text" class="form-control" name="Duration" id="Duration">
        </div>

        <div class="col-sm-4 form-group">
            <label for="Result">Result</label>
            <input type="text" class="form-control" name="Result" id="Result">
        </div>

        <div class="col-sm-4 form-group">
            <label for="StartTime">Start Time</label>
            <input type="text" class="form-control" name="StartTime" id="StartTime">
        </div>

        <div class="col-sm-4 form-group">
            <label for="EndTime">End Time</label>
            <input type="text" class="form-control" name="EndTime" id="EndTime">
        </div>*@
</div>

