@model EDNIFF.ViewModel.MacinfoVM





@{
    ViewData["Title"] = "Index";
}

<h1>Devices</h1>

<div class="row jumbotron" >

    <table class="table table-bordered" style="background-color:white;">
        <thead>
            <tr>
                <th colspan="9" style="background-color:maroon;color:white;">
                    Disk Drives
                </th>
            </tr>
            <tr>
                <th style="width:11%">Type</th>
                <th style="width:11%">Size</th>
                <th style="width:11%">Model</th>
                <th style="width:11%">Smart</th>
                <th style="width:11%">Erase</th>
                <th style="width:11%">Image</th>
                <th style="width:11%">Progress</th>
                <th style="width:11%">Status</th>
                <th style="width:12%">View</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Type</td>
                <td>Size</td>
                <td>Model</td>
                <td>Smart</td>
                <td>Erase</td>
                <td>Image</td>
                <td>Progress</td>
                <td>Status</td>
                <td><button type="button" class="btn btn-info">Smart Info</button></td>
            </tr>
        </tbody>
    </table>
    <div style="overflow:scroll; max-height:450px;max-width:1000px">
        <table class="table table-bordered" style="background-color:white;width:11px;">
            <thead>
                <tr>
                    <th colspan="11" style="background-color:maroon;color:white;">
                        System Devices   <button type="button" class="btn btn-info" style="float:right;">Add/Edit Device</button>
                    </th>
                </tr>
                <tr>
                    <th class="width200">Category</th>
                    <th class="width200">Device</th>
                    <th class="width200">Manufacturer</th>
                    <th class="width200">Model</th>
                    <th class="width200">Serial</th>
                    <th class="width200">Size</th>
                    <th class="width200" text-overflow: ellipsis;">Speed</th>
                    <th class="width200">Info1</th>
                    <th class="width200">Info2</th>
                    <th class="width200">Erased</th>
                    <th class="width200">Tested</th>
                </tr>
            </thead>
            <tbody>

                @if (Model.devices != null && Model.devices.Count > 0)
                {
                    foreach (Device item in Model.devices)
                    {
                        <tr>
                            <td>@item.Category</td>
                            <td>@item.DeviceName</td>
                            <td>@item.Manufacturer</td>
                            <td>@item.Model</td>
                            <td>@item.Serial</td>
                            <td>@item.Size</td>
                            <td>@item.Speed</td>
                            <td>@item.Info1</td>
                            <td>@item.Info2</td>
                            <td> </td>
                            <td>@item.deviceStatus</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    


    @*<div class="col-sm-4 form-group">
            <label for="Duration">Duration</label>
            <input type="text" class="form-control" name="Duration" id="Duration">
        </div>

        <div class="col-sm-4 form-group">
            <label for="Result">Result</label>
            <input type="text" class="form-control" name="Result" id="Result">
        </div>

        <div class="col-sm-4 form-group">
            <label for="StartTime">Start Time</label>
            <input type="text" class="form-control" name="StartTime" id="StartTime">
        </div>

        <div class="col-sm-4 form-group">
            <label for="EndTime">End Time</label>
            <input type="text" class="form-control" name="EndTime" id="EndTime">
        </div>*@
</div>

