@model EDNIFF.ViewModel.TestVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    //var model = @Html.Raw(Json.Encode(Model));
    //var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();

    var temp = @Html.Raw(Json.Serialize(Model));
}

@section Styles
{
    <style type="text/css">
        .KeyboardLable {
            background-color: aliceblue;
            border: 1px;
            border-color: lightgray;
            /*border-style: dotted;*/
            /*padding: 8px;*/
            font-family: Microsoft Sans Serif;
            font-size: 12px;
            width: 40px;
            text-align: center;
        }

        .KeyboardLableSmall {
            background-color: aliceblue;
            border: 1px;
            border-color: lightgray;
            font-family: Microsoft Sans Serif;
            font-size: 10px;
            width: 40px;
            text-align: center;
        }

        .KeyboardWidth {
            height: 40px;
        }

        .KeyboardLableWidth {
            width: 30px;
        }
    </style>
}

<h3>Tests</h3>

<div style="width:1200px; display:flex; overflow:scroll; max-height:500px">

    <div style="width:20%; background-color:lightgray; height:600px;">
        <table style="padding:10px; width:100%;" class="table-bordered">
            <tr>
                <td colspan="2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="AllSelect">
                        <label class="form-check-label" for="flexCheckDefault">
                            Select All
                        </label>
                    </div>
                </td>
            </tr>


            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkCMOS">
                        <label class="form-check-label" for="flexCheckDefault">
                            CMOS
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblCMOS"> Optional </label>
                </td>
            </tr>


            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkSound">
                        <label class="form-check-label" for="flexCheckDefault">
                            Sound
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblSound"> Optional </label>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkUSB">
                        <label class="form-check-label" for="flexCheckDefault">
                            USB
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblUSB"> Optional </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkLanPort">
                        <label class="form-check-label" for="flexCheckDefault">
                            Lan Port
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblLanPort"> Optional </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkOptical">
                        <label class="form-check-label" for="flexCheckDefault">
                            Optical
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblOptical"> Optional </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkLCD">
                        <label class="form-check-label" for="flexCheckDefault">
                            LCD
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblLCD"> Optional </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkKeyboard">
                        <label class="form-check-label" for="flexCheckDefault">
                            Keyboard
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblKeyboard"> Optional </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkTouchpad">
                        <label class="form-check-label" for="flexCheckDefault">
                            Touchpad
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblTouchpad"> Optional </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkWifi">
                        <label class="form-check-label" for="flexCheckDefault">
                            Wifi / Blue
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblWifi"> Optional </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkBattery">
                        <label class="form-check-label" for="flexCheckDefault">
                            Battery
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblBattery"> Optional </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkCamera">
                        <label class="form-check-label" for="flexCheckDefault">
                            Camera
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblCamera"> Optional </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkTouchScreen">
                        <label class="form-check-label" for="flexCheckDefault">
                            TouchScreen
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblTouchScreen"> Optional </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkMicrophone">
                        <label class="form-check-label" for="flexCheckDefault">
                            Microphone
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblMicrophone"> Optional </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkSDCard">
                        <label class="form-check-label" for="flexCheckDefault">
                            SD Card Test
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblSDCard"> Optional </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkBiometric">
                        <label class="form-check-label" for="flexCheckDefault">
                            Biometric
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblBiometric"> Optional </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkSmartCard">
                        <label class="form-check-label" for="flexCheckDefault">
                            Smart Card
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblSmartCard"> Optional </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkDisplay">
                        <label class="form-check-label" for="flexCheckDefault">
                            Display
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblDisplay"> Optional </label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input singleselect" type="checkbox" id="chkPortTest">
                        <label class="form-check-label" for="flexCheckDefault">
                            Port Test
                        </label>
                    </div>
                </td>
                <td>
                    <label class="form-check-label NotTestedText" id="lblPortTest"> Optional </label>
                </td>
            </tr>

            @*@foreach (var item in Model.TestList)
                {
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input singleselect" type="checkbox" value="@item.TestSelected" id="@item.Id">
                                <label class="form-check-label" for="flexCheckDefault">
                                    @item.TestLable
                                </label>
                            </div>
                        </td>
                        <td>
                            <label class="form-check-label" id="@item.LableId"> @item.TestResultLable </label>
                        </td>
                    </tr>
                }*@



            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>

            <tr>
                <td>
                    @*<button type="submit" class="btn btn-primary btn-block btn-sm" style="width:110px" onclick="location.href='@Url.Action("DisplaySearchResults", "Tests")'">Start</button>*@
                    <button type="submit" class="btn btn-primary btn-block btn-sm" style="width:110px" id="btnStart">Start</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary btn-block btn-sm" style="width:110px" onclick="testmethod()">Display Report</button>
                </td>
            </tr>

        </table>
    </div>

    <div style="width: 75%; height: 600px; background-color: lightyellow; border: 1px solid gray;">
        <div id="divTest">

        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modalKeyboardUS" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 1000px; height: 100%; padding: 0;">

        <!-- Modal content-->
        <div class="modal-content" style="height: 100%; border-radius: 0;">
            <div class="modal-header">
                <h4 class="modal-title">Keyboard US</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <legend>Keyboard:</legend>
                    <lable class="KeyboardLable" id="lblESC">ESC</lable>
                    <lable class="KeyboardLable" style="margin-left:10px" id="lblF1">F1</lable>
                    <lable class="KeyboardLable" id="lblF2">F2</lable>
                    <lable class="KeyboardLable" id="lblF3">F3</lable>
                    <lable class="KeyboardLable" id="lblF4">F4</lable>
                    <lable class="KeyboardLable" style="margin-left:10px" id="lblF5">F5</lable>
                    <lable class="KeyboardLable" id="lblF6">F6</lable>
                    <lable class="KeyboardLable" id="lblF7">F7</lable>
                    <lable class="KeyboardLable" id="lblF8">F8</lable>
                    <lable class="KeyboardLable" style="margin-left:10px" id="lblF9">F9</lable>
                    <lable class="KeyboardLable" id="lblF10">F10</lable>
                    <lable class="KeyboardLable" id="lblF11">F11</lable>
                    <lable class="KeyboardLable" id="lblF12">F12</lable>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="modalKeyboardEU" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 1000px; height: 100%; padding: 0; margin:0px;">

        <!-- Modal content-->
        <div class="modal-content" style="height: 100%; border-radius: 0; width:1200px;">
            <div class="modal-header">
                <h4 class="modal-title">Keyboard EU</h4>
                <button type="button" class="btn btn-default" style="float:right;" data-dismiss="modal">Close</button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div >
                        <button class="KeyboardLable" style="width:50px !important; " id="lblESC"><br />ESC</button>
                        <button class="KeyboardLable" style="margin-left:22px" id="lblF1"><br />F1</button>
                        <button class="KeyboardLable" id="lblF2"><br />F2</button>
                        <button class="KeyboardLable" id="lblF3"><br />F3</button>
                        <button class="KeyboardLable" id="lblF4"><br />F4</button>
                        <button class="KeyboardLable" style="margin-left:22px" id="lblF5"><br />F5</button>
                        <button class="KeyboardLable" id="lblF6"><br />F6</button>
                        <button class="KeyboardLable" id="lblF7"><br />F7</button>
                        <button class="KeyboardLable" id="lblF8"><br />F8</button>
                        <button class="KeyboardLable" style="margin-left:22px" id="lblF9"><br />F9</button>
                        <button class="KeyboardLable" id="lblF10"><br />F10</button>
                        <button class="KeyboardLable" id="lblF11"><br />F11</button>
                        <button class="KeyboardLable" id="lblF12"><br />F12</button>
                    </div>
                    <div style="margin-left:5px;">
                        <button class="KeyboardLable" style="width:50px !important; " id="lblF10"><br />Prt Sc</button>
                        <button class="KeyboardLable" style="width:50px !important; " id="lblF11"><br />Scroll</button>
                        <button class="KeyboardLable" style="width:50px !important; " id="lblF12"><br />Pause</button>
                    </div>
                </div>
                <div class="row">
                    <div >
                        <button class="KeyboardLableSmall" id="lblESC">~<br />`</button>
                        <button class="KeyboardLableSmall" id="lblF1">!<br />1</button>
                        <button class="KeyboardLableSmall" id="lblF2">@@<br />2</button>
                        <button class="KeyboardLableSmall" id="lblF3">#<br />3</button>
                        <button class="KeyboardLableSmall" id="lblF4">$<br />4</button>
                        <button class="KeyboardLableSmall" id="lblF5">%<br />5</button>
                        <button class="KeyboardLableSmall" id="lblF6">^<br />6</button>
                        <button class="KeyboardLableSmall" id="lblF7">&<br />7</button>
                        <button class="KeyboardLableSmall" id="lblF8">*<br />8</button>
                        <button class="KeyboardLableSmall" id="lblF9">(<br />9</button>
                        <button class="KeyboardLableSmall" id="lblF10">)<br />0</button>
                        <button class="KeyboardLableSmall" id="lblF11">-<br />_</button>
                        <button class="KeyboardLableSmall" id="lblF12">+<br />=</button>
                        <button class="KeyboardLableSmall" style="width:85px !important; " id="Backspace"><br />Backspace</button>
                    </div>
                    <div  style="margin-left:5px;">
                        <button class="KeyboardLable" style="width:50px !important; " id="lblF10"><br />Ins</button>
                        <button class="KeyboardLable" style="width:50px !important; " id="lblF11"><br />Home</button>
                        <button class="KeyboardLable" style="width:50px !important; " id="lblF12"><br />Pg Up</button>
                    </div>
                </div>
                <div class="row">
                    <div >
                        <button class="KeyboardLable" id="lblESC"><br />Tab</button>
                        <button class="KeyboardLable" id="lblESC"><br />Q</button>
                        <button class="KeyboardLable" id="lblESC"><br />W</button>
                        <button class="KeyboardLable" id="lblESC"><br />E</button>
                        <button class="KeyboardLable" id="lblESC"><br />R</button>
                        <button class="KeyboardLable" id="lblESC"><br />T</button>
                        <button class="KeyboardLable" id="lblESC"><br />Y</button>
                        <button class="KeyboardLable" id="lblESC"><br />U</button>
                        <button class="KeyboardLable" id="lblESC"><br />I</button>
                        <button class="KeyboardLable" id="lblESC"><br />O</button>
                        <button class="KeyboardLable" id="lblESC"><br />P</button>
                        <button class="KeyboardLable" id="lblESC"><br />E</button>
                        <button class="KeyboardLable" id="lblF12">{<br />[</button>
                        <button class="KeyboardLable" id="lblF12">}<br />]</button>
                        <button class="KeyboardLable" id="lblF12">|<br />\</button>
                    </div>
                    <div  style="margin-left:5px;">
                        <button class="KeyboardLable" style="width:50px !important; " id="lblF10"><br />Del</button>
                        <button class="KeyboardLable" style="width:50px !important; " id="lblF11"><br />End</button>
                        <button class="KeyboardLable" style="width:50px !important; " id="lblF12"><br />Pg Dn</button>
                    </div>
                </div>
                <div class="row">
                    <div >
                        <button class="KeyboardLable" style="width:85px !important; " id="lblESC"><br />Caps</button>
                        <button class="KeyboardLable" id="lblESC"><br />A</button>
                        <button class="KeyboardLable" id="lblESC"><br />S</button>
                        <button class="KeyboardLable" id="lblESC"><br />D</button>
                        <button class="KeyboardLable" id="lblESC"><br />F</button>
                        <button class="KeyboardLable" id="lblESC"><br />G</button>
                        <button class="KeyboardLable" id="lblESC"><br />H</button>
                        <button class="KeyboardLable" id="lblESC"><br />J</button>
                        <button class="KeyboardLable" id="lblESC"><br />K</button>
                        <button class="KeyboardLable" id="lblESC"><br />L</button>
                        <button class="KeyboardLable" id="lblESC">:<br />;</button>
                        <button class="KeyboardLable" id="lblESC">"<br />'</button>
                        <button class="KeyboardLable" style="width:85px !important; " id="lblF12"><br />Enter</button>
                    </div>
                    <div class="col" style="margin-left:5px;">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div >
                        <button class="KeyboardLable" style="width:95px !important; " id="lblESC"><br />Shift</button>
                        <button class="KeyboardLable" id="lblESC"><br />Z</button>
                        <button class="KeyboardLable" id="lblESC"><br />X</button>
                        <button class="KeyboardLable" id="lblESC"><br />C</button>
                        <button class="KeyboardLable" id="lblESC"><br />V</button>
                        <button class="KeyboardLable" id="lblESC"><br />B</button>
                        <button class="KeyboardLable" id="lblESC"><br />N</button>
                        <button class="KeyboardLable" id="lblESC"><br />M</button>
                        <button class="KeyboardLable" id="lblESC"><<br />,</button>
                        <button class="KeyboardLable" id="lblESC">><br />.</button>
                        <button class="KeyboardLable" id="lblESC">?<br />/</button>
                        <button class="KeyboardLable" style="width: 95px !important;" id="lblF12"><br />Shift</button>
                    </div>
                    <div style="margin-left:5px;">
                        <button class="KeyboardLable" style="width:50px !important; " id="lblF11"><br />&uarr;</button>
                    </div>
                </div>

                <div class="row">
                    <div >
                        <button class="KeyboardLable" style="width:95px !important; " id="lblESC"><br />Ctrl</button>
                        <button class="KeyboardLable" id="lblESC"><br />Win</button>
                        <button class="KeyboardLable" id="lblESC"><br />Alt</button>
                        <button class="KeyboardLable" style="width:250px !important; " id="lblESC"><br />Space</button>
                        <button class="KeyboardLable" id="lblESC"><br />Alt</button>
                        <button class="KeyboardLable" style="width:95px !important; " id="lblESC"><br />Ctrl</button>
                    </div>
                    <div style="margin-left:5px;">
                        <button class="KeyboardLable" style="width:50px !important; " id="lblF10"><br />&larr;</button>
                        <button class="KeyboardLable" style="width:50px !important; " id="lblF11"><br />&darr;</button>
                        <button class="KeyboardLable" style="width:50px !important; " id="lblF12"><br />&rarr;</button>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="modal-footer">

            </div>*@
    </div>

</div>
</div>


@section Scripts
{
    <script>
        $(function () {

            //bind data from MACKINFO
            var tt = @temp;
            if (tt && tt.testList) {

                _listOfTest = tt.testList;
                _objToBeSaved.Grade = tt.grade; //
                _objToBeSaved.IsTestCompleted = tt.isTestCompleted;

                $.each(tt.testList, function (index, item) {
                    if (item.testSelected) {
                        $("#chk" + item.testName).prop("checked", item.testSelected);
                        $("#lbl" + item.testName).text(item.testResult);
                        $("#lbl" + item.testName).removeClass().addClass(item.className);
                    }
                });


                if (tt.isTestCompleted) {
                    $("#divTest").html("<p> Test Completed . </p>");
                    $("#btnStart").prop("disabled", true);
                } else {
                    //get the test which is not completed yet and bind its html here
                    var isAnyTest = false;
                    $.each(tt.testList, function (index, item) {
                        if (item.testSelected == true && item.testDone == false && isAnyTest == false) {
                            //call ajax and bind this test in div
                            _currentTest = item;
                            isAnyTest = true;
                        }
                    });
                    if (isAnyTest) {
                        GetTestHtml();
                        $("#btnStart").prop("disabled", true);
                        $("#lbl" + _currentTest.testName).text("Running");
                        $("#lblResult" + _currentTest.testName).text("Not Tested");
                    }
                }
            }


            $('#btnStart').click(function () {
                var tt = @temp;
                if (tt && tt.testList) {
                    $.each(tt.testList, function (index, item) {
                        item.testSelected = $("#chk" + item.testName).prop("checked");
                    });
                    var isAllSelected = $("#AllSelect").prop("checked");
                    StartTest(tt, isAllSelected);
                }
            });
        });
    </script>
}